@using superHeroes.Models;

@model IEnumerable<superHeroes.Models.SuperHero>

@{
    ViewBag.Title = "List";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script type="text/javascript" src="/Scripts/Utils.js"></script>
<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                <!--/*Html.ActionLink("Delete", "Delete", new { id = item.id })*/-->
                <a onclick="DeleteHero(@item.id)">Delete</a>
            </td>

            <td>
                <img src="/Images/spiderMan.jpg" style="float: right;"/>
            </td>
        </tr>
    }

</table>
